@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	user-select: none;
	border: 0;
}

:root{
	--baseMargin: 1em;
	--basePadding: 1em;
	--grassWhite: #ffffff50;
	--glassBlur: blur(10px);
	--radius: .5em;
	--baseColor: #000000;
	--baseGray: #dedede;
	--baseYellow: #FEF751;
	--darkBlue: #002E74;
	--calendar: var(--darkBlue);
}

body{
	background-color: #ffffff;
	background-image: url("/assets/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: var(--baseColor);
	height: 100vh;
	width: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	overflow: hidden;
}

.mainContainer{
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	width: 100%;
}

.container {
	margin: var(--baseMargin);
	padding: var(--basePadding);
	background-color: var(--grassWhite);
	backdrop-filter: var(--glassBlur);
	border-radius: var(--radius);
	box-shadow: 3px 3px 5px #000000aa,
	-3px -3px 8px #ffffffaa;
}

.leftSide{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-left: 1.5em;
}

.leftSide > *{
	width: 100%;
}

.fill{
	height: 95vh;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.nav > h3{
	font-family: 'Times New Roman', Times, serif;
}

.nav > ul{
	list-style: none;
}

.nav > ul > li, .rightSide > .top > nav > ul > li{
	cursor: pointer;
	padding: .1em .25em;
	transition: color .5s;
	transition: text-shadow 1s;
}

.nav > ul > li:hover, .rightSide > .top > nav > ul > li:hover{
	color: var(--baseYellow);
	text-shadow: 3px 3px 5px var(--baseColor);
}

.nav > ul > li::after, .nav > ul > li::before, .rightSide > .top > nav > ul > li::after{
	display: block;
	background-color: var(--baseColor);
	content: "";
	height: 2px;
	width: 0;
	transition: width .5s;
}

.nav > ul > li:before{
	transition: width 1s;
}

.nav > ul > li:hover::after, .nav > ul > li:hover::before, .rightSide > .top > nav > ul > li:hover::after{
	width: 100%;
}

.calendar > .month{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}

.calendar > .month > .dateNav{
	font-weight: bolder;
	padding: 0 .25em;
	font-size: xx-large;
	cursor: pointer;
}

.calendar > .dates{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	font-variant: small-caps;
}

.calendar > #dates > *{
	text-align: right;
	border: 1px var(--baseColor) solid;
	margin: 0.1em;
	padding: 0.1em;
}

.calendar > #dates > .clickedDate{
	border: 1px var(--calendar) solid;
	color: var(--calendar);
}

.calendar > #month{
	text-align: center;
}

.calendar > #currentTime{
	text-align: center;
	margin: 1em 0;
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
}

.rightSide{
	display: flex;
	flex-direction: column;
	margin-left: 2em;
}

.rightSide > .top{
	display: none;
}

.rightSide > .contents{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 0;
	width: 0;
	opacity: 0;
	transition: opacity .5s;
}

.rightSide > .contents > h1{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

.rightSide > .contents > h3{
	font-family: 'Courier New', Courier, monospace;
	font-variant: small-caps;
	text-align: center;
}
.rightSide > .contents > h5{
	font-variant: small-caps;
	text-align: center;
}

.rightSide > .show{
	color: var(--baseColor);
	height: 100vh;
	width: auto;
	justify-items: center;
	opacity: 1;
	transition: opacity .5s;
}

.rightSide > #officers {
	display: flex;
	flex-direction: column;
}

.rightSide > #officers > div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	overflow: scroll;
}

.rightSide > #officers > div::-webkit-scrollbar {
	width: .5em;
	background-color: transparent;
}

.rightSide > #officers > div::-webkit-scrollbar-thumb {
	background-color: var(--darkBlue);
	border-radius: .5em;
}

.rightSide > #officers > div > .officers-card{
	background-color: #ffffff;
	background-size: cover;
	background-position: center;
	box-shadow: 3px 3px 10px var(--baseColor),
	-3px -3px 10px var(--baseGray);
	min-width: 25%;
	max-width: 30%;
	min-height: 25vh;
	margin: .5em;
	padding: .5em;
	border-radius: .5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	color: var(--baseColor);
	text-shadow: 0 0 3px var(--baseGray);
}

.rightSide > #officers > div > .officers-card > div {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	background-color: #ffffff50;
	backdrop-filter: blur(15px);
	padding: .5em;
	border-radius: .5em;
}

.rightSide > #officers > div > .officers-card:hover{
	animation: tibok-ng-card .5s alternate infinite;
	z-index: 2;
}

@keyframes tibok-ng-card {
	0%{
		scale: 1.125;
	}100%{
		scale: 1.2;
	}
}

@-webkit-keyframes tibok-ng-card {
	0%{
		scale: 1.125;
	}100%{
		scale: 1.2;
	}
}

.rightSide> #events{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap ;
}

.rightSide > #events > table{
	width: 50%;
	align-self: baseline;
}
.rightSide > #events > table{
}

@media only screen and (max-width: 1000px){
	.leftSide{
		display: none;
	}
	.rightSide {
		display: flex;
		flex-direction: column;
		margin: .5em;
	}
	.rightSide > .top{
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		align-items: center;
		justify-content: space-between;
		align-content: space-between;
		width: 100%;
		height: 10vh;
	}
	.rightSide > .top > .title{
		display: flex;
		flex-direction: column;
	}
	.rightSide > .top > .title > .logo{
		max-height: 5em;
	}
	.rightSide > .top > .title > nav{
		display: flex;
		flex-direction: row;
	}
	.rightSide > .top > nav > ul{
		display: flex;
		flex-direction: row;
		list-style: none;
	}
	.rightSide > .top > nav > ul > li:nth-child(even){
		margin:  0 .5em;
	}
	.rightSide > #officers > div > .officers-card{
		min-width: 75% !important;
		min-height: 50vh !important;
	}
}