@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	user-select: none;
	border: 0;
}

:root{
	--baseMargin: 1em;
	--basePadding: 1em;
	--grassWhite: #ffffff50;
	--glassBlur: blur(10px);
	--radius: .5em;
	--baseColor: #000000;
	--baseGray: #dedede;
	--calendar: #ff0000;
}

body{
	background-color: #ffffff;
	/* background-image: linear-gradient(to bottom right, #FEF604AA, #0D9DF8AA); */
	background-image: url("/assets/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: var(--baseColor);
	height: 100vh;
	width: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	overflow: hidden;
}

.mainContainer{
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	width: 100%;
}

.container {
	margin: var(--baseMargin);
	padding: var(--basePadding);
	background-color: var(--grassWhite);
	backdrop-filter: var(--glassBlur);
	border-radius: var(--radius);
	box-shadow: 3px 3px 5px #000000aa,
	-3px -3px 8px #ffffffaa;
}

.leftSide{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-left: 1.5em;
}

.leftSide > *{
	width: 100%;
}

.fill{
	height: 95vh;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.nav > h3{
	font-family: 'Times New Roman', Times, serif;
}

.nav > ul{
	list-style: none;
}

.nav > ul > li{
	cursor: pointer;
	padding: .1em .25em;
}

.nav > ul > li::after, .nav > ul > li::before{
	display: block;
	background-color: var(--baseColor);
	content: "";
	height: 2px;
	width: 0;
	transition: width .5s;
}

.nav > ul > li:before{
	transition: width 1s;
}

.nav > ul > li:hover::after, .nav > ul > li:hover::before{
	width: 100%;
}

.calendar > .month{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}

.calendar > .month > .dateNav{
	font-weight: bolder;
	padding: 0 .25em;
	font-size: xx-large;
	cursor: pointer;
}

.calendar > .dates{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	font-variant: small-caps;
}

.calendar > #dates > *{
	text-align: right;
	border: 1px var(--baseColor) solid;
	margin: 0.1em;
	padding: 0.1em;
}

.calendar > #dates > .clickedDate{
	border: 1px var(--calendar) solid;
	color: var(--calendar);
}

.calendar > #month{
	text-align: center;
}

.calendar > #currentTime{
	text-align: center;
	margin: 1em 0;
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
}

.rightSide{
	display: flex;
	flex-direction: row;
	margin-left: 2em;
	justify-content: center;
}

.rightSide > .contents{
	display: none;
	flex-direction: column;
	justify-content: center;
}

.rightSide > .contents > h1{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

.rightSide > .contents > h3{
	font-family: 'Courier New', Courier, monospace;
	font-variant: small-caps;
	text-align: center;
}
.rightSide > .contents > h5{
	font-variant: small-caps;
	text-align: center;
}

.rightSide > .show{
	display: flex !important;
}

.rightSide > #members {
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.rightSide > #members::-webkit-scrollbar {
	width: 1em;
	background-color: var(--baseGray);
}

.rightSide > #members::-webkit-scrollbar-thumb {
	background-color: var(--baseColor);

}

.rightSide > #members > .members-card{
	background-color: #ffffff;
	background-size: cover;
	background-position: center;
	box-shadow: 3px 3px 10px var(--baseColor),
	-3px -3px 10px var(--baseGray);
	width: 30%;
	margin: .5em;
	padding: .5em;
	border-radius: .5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	color: var(--baseColor);
	text-shadow: 0 0 3px var(--baseGray);
}

.rightSide > #members > .members-card > div {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	background-color: #ffffff50;
	backdrop-filter: blur(15px);
	padding: .5em;
	border-radius: .5em;
}

.rightSide > #members > .members-card > img{
	border-radius: .5em;
	width: 0;
	margin-bottom: 3em;
}

.rightSide > #members > .members-card:hover{
	animation: ikot-ikot-lang .25s alternate;
}

@keyframes ikot-ikot-lang {
	0%{
		scale: 1;
	}50%{
		scale: 1.5;
	}100%{
		scale: 1;
	}
}

@-webkit-keyframes ikot-ikot-lang {
	0%{
		scale: 1;
	}50%{
		scale: 3;
	}100%{
		scale: 1;
	}
}

.rightSide> #events > #images{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap ;
}
