*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	user-select: none;
	border: 0;
}

:root{
	--baseMargin: 1em;
	--basePadding: 1em;
	--grassWhite: #ffffff50;
	--glassBlur: blur(40px);
	--radius: .5em;
}

body{
	background-color: #ffffff;
	background-image: linear-gradient(to bottom right, #FEF604AA, #0D9DF8AA);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainContainer{
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	width: 100%;
}

.container {
	margin: var(--baseMargin);
	padding: var(--basePadding);
	background-color: var(--grassWhite);
	backdrop-filter: var(--glassBlur);
	border-radius: var(--radius);
	box-shadow: 3px 3px 5px #000000aa,
	-3px -3px 8px #ffffffaa;
}

.leftSide{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-self: flex-start;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.rightSide{
	align-self: flex-end;
	justify-self: flex-end;
	margin-left: 2em;
}

.leftSide > *{
	height: 45vh;
	width: 100%;
}

.fill{
	height: 95vh;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
}

.nav > h3{
	font-family: 'Times New Roman', Times, serif;
}

.nav > ul{
	list-style: none;
}

.nav > ul > li{
	cursor: pointer;
	border-bottom: 1px #000000 solid;
	padding: .1em.25em;
}

.calendar > .month{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}

.calendar > .month > .dateNav{
	font-weight: bolder;
	padding: 0 .25em;
	font-size: xx-large;
}

.calendar > .dates{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
}

.calendar > #dates > *{
	text-align: right;
	border: 1px #000000 solid;
	margin: 0.1em;
	padding: 0.1em;
}

.calendar > #month{
	text-align: center;
}