.main-frame {
  display: grid;
  grid-template-areas:
    "top right"
    "botton right"
    "footer footer";
  gap: 0.5rem;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 6fr 4fr auto;

  > * {
    border: 1px white solid;
  }
}
